{%
  include '@ignite_theme/modal/modal.twig' with {
    "id": "exampleModal",
    "title": "You're already in the demo",
    "body": "<p>Ha! Gotcha! You thought you were going to see a demo of Ignite, but little did you know that you're already looking at it! The homepage is part of the demo, and you're experiencing Ignite in its full glory. You're welcome! Now sit back, relax, and see how Ignite can ignite your imagination and bring your ideas to life!</p>",
    "button1": {
      "text" : "I don't get it",
      "url" : "https://ignite.build/features"
    },
    "button2": {
      "text" : "Got it!",
    },
  } only
%}
