<div class="stat-item d-flex flex-column gap-1 gap-md-2{{ modifier ? ' ' ~ modifier }}">
  {% if media %}
    <div class="stat-item_media{{ ('svg' in media) ? ' is-vector' : ' is-picture' }} icon-color">
      {{ media }}
    </div>
  {% endif %}
  {% include '@ignite_theme/heading/heading.twig' with {
    "heading": {
      title: heading,
      heading_level: 3,
      modifier: 'use-current-color mb-0'
    }
  } only %}
  {% if body %}
    <p class="stat-item_content mb-0">
      {{ body }}
    </p>
  {% endif %}
</div>
