@import '../../global/bootstrap-init';

@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';

.navbar {

  ul.language-switcher-language-url {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar-collapse .language-switcher-language-url {
    padding-left: 0;
    margin-top: 1.5rem;
    display: flex;
    gap: 1.5rem;
  }
}

.navbar-brand {

  .logo {
    display: block;
    width: 166px;
  }
}

.navbar-nav {

  .nav-link.nav-item {
    padding-left: 0;
    padding-right: 0;

    &.active {
      text-decoration: underline;
      text-decoration-color: $secondary;
      text-underline-offset: 8px;
    }
  }
}
