@import '../../global/bootstrap-init';

.use-current-color {
  color: currentColor;
}

.stat-item_media {
  // Redefine custom props for icon colors.
  --ig-icon-light: var(--bs-secondary);
  --ig-icon-dark: var(--bs-secondary);
  --ig-filter-light: $filter-primary;
  --ig-filter-dark: $filter-secondary;

  .img-fluid {
    height: 100%;
  }

  &.is-vector {
    height: 50px;
  }

  &.is-picture {
    height: 200px;
  }

  &.icon-color {
    color: var(--ig-icon-light);
  
    .material-symbols-outlined {
      @include font-size(3rem);
      color: inherit;
      display: block;
    }
  
    img {
      filter: var(--ig-filter-light);
    }
  
    .bg-dark & {
      color: var(--ig-icon-dark);
  
      img {
        filter: var(--ig-filter-light);
      }
    }
  }
}

