article em i.material-icons {
  vertical-align: text-bottom;
  color: $secondary;
}

.caption > figcaption {
  font-size: 12px;
}

article pre {
  border: 0;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 10px;
  background: $primary;
  color: $light;
  box-shadow: 5px 5px 0 #0000001f;
  direction: ltr;
  font-style: normal;
  min-width: 200px;
  padding: 1em;
  tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  overflow: hidden;
  position: relative;

  code {
    background: unset;
    border-radius: 0;
    padding: 0;
    font-size: 1rem;
  }

  &::before {
    --ck-fancy-code-disc-radius: 6px;
    content: '';
    display: block;
    height: calc(var(--ck-fancy-code-disc-radius) * 2);
    background-image: radial-gradient(circle, #f16b5d var(--ck-fancy-code-disc-radius), #0000 var(--ck-fancy-code-disc-radius)), radial-gradient(circle, #f5be4d var(--ck-fancy-code-disc-radius), #0000 var(--ck-fancy-code-disc-radius)), radial-gradient(circle, #56c452 var(--ck-fancy-code-disc-radius), #0000 var(--ck-fancy-code-disc-radius));
    background-size: calc(var(--ck-fancy-code-disc-radius) * 2) calc(var(--ck-fancy-code-disc-radius) * 2);
    background-position: 0 0, calc(var(--ck-fancy-code-disc-radius) * 3) 0, calc(var(--ck-fancy-code-disc-radius) * 6) 0;
    margin-bottom: 8px;
    background-repeat: no-repeat;
  }

  &::after {
    content: attr(data-language);
    position: absolute;
    background: var(--ck-color-code-block-label-background);
    color: #fff;
    font-family: var(--ck-font-face);
    font-size: 10px;
    line-height: 16px;
    padding: var(--ck-spacing-tiny) var(--ck-spacing-medium);
    right: 10px;
    top: -1px;
    white-space: nowrap;
  }
}
