<div class="row mt-1 mb-3">
  <strong><a href="{{ item.link }}" class="text-secondary">{{ item.title }}</a></strong>
  <small>
    {{ item.link }}
  </small>
  <div>{{ item.summary|raw }}</div>
  <hr>
</div>
