{{ attach_library('kodffe_theme/accordion') }}

<div class="{{ modifier }}">
  <div class="accordion">
    {% block accordion_items %}
      {% for item in items %}
        {%
          include '@kodffe_theme/accordion/accordion-item.twig' with { item: item } only
        %}
      {% endfor %}
    {% endblock %}
  </div>
</div>
