@import '../../global/bootstrap-init';

div[class^='stats-list_'] {

  picture {
    width: 100%;
    height: 100%;
    display: flex;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      // Classes added to all images by .theme function
      &.w-auto {
        width: 100% !important;
      }
    }
  }

  .d-md-grid {
    // Set grid columns
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.stats-list_lead {
  // Remove margin on last or only paragraph
  p:last-of-type:only-child {
    margin-bottom: 0;
  }
}

.stat-item_media {
  // Redefine custom props for icon colors.
  --ig-icon-light: var(--bs-secondary);
  --ig-icon-dark: var(--bs-secondary);
  --ig-filter-light: $filter-primary;
  --ig-filter-dark: $filter-secondary;

  &.icon-color {
    color: var(--ig-icon-light);
  
    .material-symbols-outlined {
      @include font-size(3rem);
      color: inherit;
      display: block;
    }
  
    img {
      filter: var(--ig-filter-light);
    }
  
    .bg-dark & {
      color: var(--ig-icon-dark);
  
      img {
        filter: var(--ig-filter-light);
      }
    }
  }
}
