<div class="stat-item d-flex flex-column gap-1 gap-md-2{{ item.modifier ? ' ' ~ item.modifier }}">
  {% if item.media %}
    <div class="stat-item_media as-vector icon-color">
      {{ item.media }}
    </div>
  {% endif %}
  {% include '@kodffe_theme/heading/heading.twig' with {
    "heading": {
      title: item.heading,
      heading_level: 3,
      modifier: 'use-current-color mb-0'
    }
  } only %}
  {% if item.body %}
    <p class="stat-item_content mb-0">
      {{ item.body }}
    </p>
  {% endif %}
</div>
