@import '../../global/bootstrap-init';
@import '../button/button.scss';
@import '../heading/heading.scss';
@import '../rich-text/rich-text.scss';

.hero-divided {

  picture {
    aspect-ratio: 3 / 2;
    display: block;
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      // Classes added to all images by .theme function
      &.w-auto {
        width: 100% !important;
      }
    }
  }

  .is-row {

    picture {

      @include media-breakpoint-up(lg) {
        aspect-ratio: 1 / 1;
      }
    }
  }

  .is-stacked {

    picture {
      aspect-ratio: 2 / 1;
      height: 30vh;
      max-height: 300px;

      @include media-breakpoint-up(lg) {
        height: 50vh;
        max-height: 500px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    // No rounded corners media first
    .is-row.flex-lg-row img.rounded {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }

    // No rounded corners media last
    .is-row.flex-lg-row-reverse img.rounded {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }

  .hero-content {

    .btn {
      width: fit-content;
    }
  }

  // <-- Storybook specific styles:
  // Small devices, remove container padding.
  @include media-breakpoint-down(lg) {

    .sb-only & {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  // end Storybook specific styles -->
}
